body {
    margin: 0;
    padding: 0;
    background-color: lightslategrey;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 300px;
    margin-left: 100px;
    height: 330px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
   
    border-radius: 12px;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 10px;

  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
    
  }

  .text-info1{
      margin-left: 50px;
      color: black;
  }

  .info{
    
      color:black ;
  }

  .btninfo{
    margin-top: 5px;
      background-color: lightslategrey;
      border-radius: 9px;
  }