<article class="card-body mx-auto" style="max-width: 400px;margin-top: 70px;">
	<h4 class="card-title mt-3 text-center">Inventory</h4>
	<div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter Valid Credentials !</div>
	<form (ngSubmit)="!todoForm.invalid && saveInventory()" #todoForm="ngForm">
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i></i> </span>
		 </div>
        <input [(ngModel)]="inv.name" name="name" class="form-control" placeholder="Name" type="text" required="required">
    </div> 

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i></i> </span>
		</div>
		<select [(ngModel)]="inv.type" name="type" class="form-control" required="required">
			<option selected="type"> Select Inventory Type</option>
			<option>Laptop </option>
			<option>Desktop</option>
			<option>Monitor</option>
            <option>Connecting Cables</option>
            <option>Keyboard</option>
            <option>Mouse</option>
            <option>Docking Port</option>
		</select>
	</div> 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i></i> </span>
		</div>
        <input [(ngModel)]="inv.pathToImage" name="pathToImage" class="form-control" placeholder="Enter Link to Image Source" type="text" pattern="^[a-zA-Z/.]*$" required="required" >
    </div> 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i></i> </span>
		</div>
        <input [(ngModel)]="inv.cost" name="cost" class="form-control" placeholder="Enter Cost " type="number" min="0" required="required" >
    </div> 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i></i> </span>
		</div>
        <input [(ngModel)]="inv.itemCount" name="itemCount" class="form-control" placeholder="Enter No.Of Items " type="number" min="0" required="required" >
    </div> 
                                    
    <div class="form-group">
		<button type="submit" class="btn btn-primary btn-block" > Submit  </button>
    </div>    
                                                                
</form>
</article>



