<header>
    <nav class="navbar navbar-expand-md" style="background-color: grey;">
          <div class="navbar">
                <img src="assets/images/work-from-home2.png" height="40px" width="40px" class="logo" >
                S.O.A.R - Setup Office At Residence
          </div>

          <ul class="navbar-nav navbar-collapse justify-content-end" > 
            <li><button routerLink="/login" class="btn btn-dark" style="margin-right: 10px; border-radius: 7px;" >Login</button></li>
            <li><button routerLink="/login" class="btn btn-dark" style="margin-right: 5px; border-radius: 7px;">Logout</button></li>
          </ul>
      </nav>    
</header>
<router-outlet></router-outlet>